.portfo {
  text-align: center;
  padding: 0 8vw;
  h1 {
    position: relative;
    display: inline-block;
    min-width: 1vw;
    top: 3vh;
    font-size: 23px;
    color: rgb(53, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
  }
  h1:after {
    position: absolute;
    border-top: 0.15em solid #34b7a7;
    border-radius: 1rem;
    content: "";
    right: 60%;
    left: 0;
    bottom: -0.54em;
  }
  .content {
    margin-top: 9vh;
  }
  span {
    position: relative;
    top: 4vh;
    font-size: large;
    padding: 1vh 2vw;
    border-radius: 3vw;
    background-color: #34b7a7;
    color: white;
    margin-right: 20px;
    cursor: pointer;
    
  }
  main {
    display: flex;
    padding-top: 5vh;
    margin-top: 8vh;
    flex-direction: row;
    flex-wrap: wrap;
    width: 82vw;
    section {
      text-align: left;
      position: relative;
      margin-bottom: 4vh;
      display: inline-block;
      img {
        width: 33vw;
        margin-left: 6vw;
        object-fit: contain;
        margin-bottom: 8vh;
        height: 30vh;
        overflow: hidden;
      }
      a {
        display: inline-block;
        position: absolute;
        left: 10vw;
        bottom: 2vh;
        text-decoration: none;
        border-radius: 2vw;
        padding: 1vh 2vw;
        background-color: #34b7a7;
        color: white;
      }
      a:hover {
        opacity: 0.5;
      }
    }
  }
}
@keyframes play {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: none;
  }
}
@media screen and (max-width: "500px") {
  .portfo {
    padding: 0;
    h1 {
      font-size: 20px;
    }
    .content {
      padding: 0 2vw;
    }
    span {
      padding: 1.3vh 5vw;
      top: 4vh;
      border-radius: 4vw;
    }
    main {
      display: flex;
      flex-direction: column;
      section {
        img {
          width: 80vw;
        }
      }
    }
  }
}
