@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Epilogue:wght@100&family=Figtree:wght@300;400;500;600;700;800;900&family=Jost:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,400;0,700;0,900;1,700&family=League+Spartan:wght@500;700;800&family=Public+Sans:ital,wght@0,300;0,700;1,400&family=Roboto&family=Source+Serif+Pro:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,900&family=Ubuntu:wght@400;500;700&family=Work+Sans:wght@300;400;500;600;700;800;900&display=swap");
* {
  padding: 0 0;
  margin: 0 0;
  box-sizing: border-box;
}
body {
  overflow-x: hidden;
  font-family: "Source Serif Pro", sans-serif;
}
html {
  scroll-behavior: smooth;
}
@keyframes texter {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes hidden {
  to {
    opacity: 0;
  }
}
.is-visible {
  .mini {
    section {
      div {
        p {
          .value {
            animation: texter 0.2s 3.1s forwards;
          }
        }
      }
    }
    .bar {
      .javascript {
        animation: java 3s 0.3s forwards;
      }
      .html {
        animation: html 3s 0.3s forwards;
      }
      .css {
        animation: java 3s 0.3s forwards;
      }
      .react {
        animation: react 3s 0.3s forwards;
      }
      .sass {
        animation: sass 3s 0.3s forwards;
      }
      .python {
        animation: python 3s 0.3s forwards;
      }
      .typescript {
        animation: typescript 3s 0.3s forwards;
      }
      .redux {
        animation: redux 3s 0.3s forwards;
      }
      .git {
        animation: git 3s 0.3s forwards;
      }
      .responsive_web {
        animation: responsive 3s 0.3s forwards;
      }
      .graphql {
        animation: graphql 3s 0.3s forwards;
      }
      .restful_api {
        animation: restful 3s 0.3s forwards;
      }
      .next {
        animation: next 3s 0.3s forwards;
      }
      .tailwind {
        animation: tailwind 3s 0.3s forwards;
      }
    }
  }
}

@keyframes restful {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes graphql {
  from {
    width: 0%;
  }
  to {
    width: 60%;
  }
}

@keyframes responsive {
  from {
    width: 0%;
  }
  to {
    width: 95%;
  }
}
@keyframes git {
  from {
    width: 0%;
  }
  to {
    width: 88%;
  }
}
@keyframes redux {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes typescript {
  from {
    width: 0%;
  }
  to {
    width: 80%;
  }
}
@keyframes python {
  from {
    width: 0%;
  }
  to {
    width: 50%;
  }
}
@keyframes sass {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes react {
  from {
    width: 0%;
  }
  to {
    width: 90%;
  }
}
@keyframes css {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes html {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes java {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes next {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
@keyframes tailwind {
  from {
    width: 0%;
  }
  to {
    width: 85%;
  }
}
.not-visible {
  animation: hidden 0.2s ease-in forwards;
}
header {
  overflow: hidden;
  width: 100vw;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #e9e8e6;
  height: 9.6vh;
  padding: 2.8vh 0;
  box-shadow: 1px 4px 25px rgb(0 0 0 / 8%);
  opacity: 0;
  animation: opaque 0.5s linear forwards;
  z-index: 1;
  span {
    position: absolute;
    left: 2vw;
    font-family: "Raleway", sans-serif;
    text-transform: uppercase;
    padding-top: 1vh;
    font-weight: 400;
    font-size: x-large;
    margin-left: 2vw;
    opacity: 0;
    transform: scale(0);
    animation: pop 1s linear 0.6s 1 forwards;
  }
  .link {
    display: flex;
    padding-top: 2vh;
    flex-direction: row;
    gap: 35px;
    .to-link {
      position: relative;
      font-family: "Raleway", sans-serif;
      font-size: 16px;
      font-weight: 600;
      color: #888888;
      padding-bottom: 0.6vh;
      text-decoration: none;
    }
    .homer {
      opacity: 0;
      transform: scale(0);
      animation: pop 1s linear 0.8s 1 forwards;
    }
    .about {
      opacity: 0;
      transform: scale(0);
      animation: pop 1s linear 0.9s 1 forwards;
    }
    .resume {
      opacity: 0;
      transform: scale(0);
      animation: pop 1s linear 1s 1 forwards;
    }
    .portfolio {
      opacity: 0;
      transform: scale(0);
      animation: pop 1s linear 1.1s 1 forwards;
    }
    .contact {
      opacity: 0;
      transform: scale(0);
      animation: pop 1s linear 1.3s 1 forwards;
    }
    .clear {
      display: none;
    }
    #header {
      white-space: nowrap;
    }
    #header::after {
      position: absolute;
      border-top: 0.15em solid #34b7a7;
      border-radius: 1rem;
      content: "";
      right: 60%;
      left: 0;
      bottom: -0.34em;
    }
    .to-link::after {
      position: absolute;
      border-top: 0.15em solid #34b7a7;
      border-radius: 1rem;
      content: "";
      right: 100%;
      left: 0;
      bottom: -0.34em;
      transition: right 0.25s ease;
    }
    .to-link:hover::after {
      right: 60%;
    }
  }
  .none {
    display: none;
  }
  .icon {
    position: absolute;
    right: 5vw;
    padding-top: 2vh;
    width: 10vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    opacity: 0;
    transform: scale(0);
    animation: pop 1s linear 1.11s 1 forwards;
    .MuiSvgIcon-root {
      transition: color 0.25s ease-in-out;
      cursor: pointer;
    }
    .MuiSvgIcon-root:hover {
      color: #34b7a7;
    }
  }
}
.home {
  height: 90.2vh;
  overflow: none;
  position: relative;
  background-color: #e9e8e6;
  background-image: url("/src/Components/images/next.jpg");
  background-size: cover;
  text-align: center;
  opacity: 0;
  animation: opaque 0.5s linear 0.4s forwards;
  main {
    position: absolute;
    top: 40%;
    margin: auto 0;
    min-height: 13vh;
    width: 100%;
    h1 {
      font-size: 48px;
      font-weight: 700;
      line-height: 56px;
      color: #222222;
      opacity: 0;
      animation: opaque 0.5s linear 1.9s forwards;
      // animation: fade 0.7s ease-in 0.3s forwards;
    }
    p {
      color: #6f6f6f;
      margin: 10px 0 0 0;
      font-size: 19px;
      opacity: 1;
      text-align: center;
      overflow-y: hidden;
      height: 3.5vh;
      margin-bottom: 3vh;
      transform: scale(0.94);
      animation: scale 3s forwards cubic-bezier(0.5, 1, 0.89, 1);

      :nth-child(1) {
        animation: fade-in 0.8s 2.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(2) {
        animation: fade-in 0.8s 2.2s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(3) {
        animation: fade-in 0.8s 2.3s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(4) {
        animation: fade-in 0.8s 2.4s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(5) {
        animation: fade-in 0.8s 2.5s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(6) {
        animation: fade-in 0.8s 2.6s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(7) {
        animation: fade-in 0.8s 2.7s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(8) {
        animation: fade-in 0.8s 2.8s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(9) {
        animation: fade-in 0.8s 2.9s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(10) {
        animation: fade-in 0.8s 3s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }

      :nth-child(11) {
        animation: fade-in 0.8s 3.1s forwards cubic-bezier(0.11, 0, 0.5, 0);
      }
    }
    span {
      display: inline-block;
      opacity: 0;
      filter: blur(4px);
      margin-right: 5px;
    }
    @keyframes fade-in {
      100% {
        opacity: 1;
        filter: blur(0);
      }
    }
    @keyframes scale {
      100% {
        transform: scale(1);
      }
    }
    .about-me {
      text-transform: uppercase;
      font-size: large;
      //overflow-x: hidden;
      position: relative;
      top: 2vh;
      color: white;
      text-decoration: none;
      background-color: #34b7a7;
      width: 8vw;
      padding: 1vh 23px;
      border: none;
      opacity: 0;
      opacity: 0;
      animation: opaque 0.5s linear 1.9s forwards;
      // animation: fade 1.2s ease-in-out 0.55s forwards;
      border-radius: 3vw;
      transition: background-color 0.2s ease-in;
    }
    .about-me:hover {
      background-color: #33e4af;
    }
  }
  @keyframes opaque {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  @keyframes fade {
    from {
      opacity: 0;
      transform: translateY(-50%);
    }
    to {
      opacity: 1;
      transform: none;
    }
  }
  @keyframes typing {
    from {
      width: 0;
    }
  }

  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
}
@keyframes pop {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  50% {
    transform: scale(0.5);
    opacity: 0.5;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.about-all {
  text-align: center;
  user-select: none;
  // opacity: ;
  // animation: displayer 1.2s ease-in 0.3s forwards;

  .span {
    position: relative;
    min-width: 1vw;
    top: 3vh;
    font-size: 28px;
    color: rgb(53, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
  }
  .span:after {
    position: absolute;
    border-top: 0.15em solid #34b7a7;
    border-radius: 1rem;
    content: "";
    right: 60%;
    left: 0;
    bottom: -0.54em;
  }
  .pin {
    margin-top: 1vh;
    width: 80vw;
    margin-top: 7vh;
    margin-left: 8vw;
    font-size: 17px;
    font-weight: 400;
    font-style: italic;
  }
  section {
    margin-top: 3.3vh;
    display: flex;
    width: 85vw;
    img {
      width: 30vw;
      margin-left: 7vw;
      height: 52vh;
      object-fit: contain;
    }
    aside {
      display: flex;
      flex-direction: column;
      width: 65vw;
      margin-left: 2vw;
      h2 {
        display: inline-block;
        font-weight: 700;
        font-size: 26px;
        text-align: left;
        margin-block-start: 0em;
        color: #555555;
        margin-block-end: 0em;
      }
      span {
        text-align: left;
        margin-top: 2vh;
        font-style: italic;
        font-size: 17px;
        font-weight: 400;
      }
      .info {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        p {
          text-align: left;
          margin: 1.5vh;
          margin-left: 1vw;
          white-space: nowrap;
          width: 20vw;
          .coin {
            font-size: large;
            font-weight: 600;
          }
        }
      }
      p {
        text-align: left;
        font-style: italic;
      }
    }
  }
}
.mini {
  margin-top: 8vh;
  margin-bottom: 8vh;
  padding: 0 3vw;
  overflow-x: hidden;
  text-align: center;

  h3 {
    text-align: center;
    position: relative;
    font-size: 25px;
    display: inline-block;
  }
  .bar {
    background-color: #e6e7e8;
    display: block;
    height: 15px;
    border: 1px solid rgba(217, 217, 217, 0.1);
    border-radius: 10px;
    transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
    span {
      height: 14px;
      float: left;
      background-color: #53c4b7;

      border-radius: 10px;
    }
  }
  meter {
    display: block;
    width: inherit;
    height: 3.3vh;
  }
  .meter_animation {
    animation: meter-fill 5s ease-out infinite forwards;
  }
  @keyframes meter-fill {
    from {
      value: 0;
    }
    to {
      value: 75;
    }
  }
  h3::after {
    position: absolute;
    border-top: 0.35em solid #34b7a7;
    border-radius: 2rem;
    content: "";
    right: 40%;
    left: 0;
    bottom: -0.54em;
  }
  p {
    margin-top: 3vh;
    text-align: center;
    margin-bottom: 3vh;
  }
  section {
    display: flex;
    margin-top: 6vh;
    flex-wrap: wrap;
    div {
      width: 42.2vw;
      margin-left: 2vw;
      p {
        text-align: left;
        span {
          font-size: medium;
          font-weight: 500;
        }
        .value {
          float: right;
          opacity: 0;
        }
      }
    }
  }
}
.resumex {
  padding: 0 8vw;
  text-align: center;
  h1 {
    position: relative;
    min-width: 1vw;
    display: inline-block;
    top: 5vh;
    font-size: 20px;
    color: rgb(53, 52, 52);
    font-weight: bold;
    text-transform: uppercase;
  }
  h1::after {
    position: absolute;
    border-top: 0.15em solid #34b7a7;
    border-radius: 1rem;
    content: "";
    right: 60%;
    left: 0;
    bottom: -0.54em;
  }
  .pin {
    margin-top: 8vh;
  }
  main {
    display: flex;
    margin-top: 5vh;
    flex-direction: row;
    flex-wrap: wrap;
    .three {
      section {
        .icon {
          top: 79.5vh;
          transform: rotate(90deg) scaleX(62.5);
        }
      }
    }
    p {
      text-align: left;
      padding-left: 1vw;
      margin-block-start: 0em;
      margin-block-end: 0em;
    }
    .head {
      font-size: 26px;
      font-weight: 400;
      margin-top: 20px;
      margin-bottom: 20px;
      color: #222222;
    }
    section {
      position: relative;
      width: 40vw;
      margin-bottom: 8vh;
      padding-left: 4vw;
      min-height: 30vh;
      margin-right: 0.7vw;
      text-align: left;
      .next-head {
        margin-top: 20px;
        line-height: 18px;
        font-size: 18px;
        font-weight: 600;
        font-family: "Poppins", sans-serif;
        color: #1d685f;
        margin-bottom: 10px;
      }
      .icon {
        position: absolute;
        left: 2vw;
        top: 18.6vh;
        color: #20c997;
        font-size: x-large;
        transform: rotate(90deg) scaleX(13.5);
      }
      .circle {
        position: absolute;
        left: 2vw;
        top: 1vh;
        color: #20c997;
        transform: scale(1.13);
      }
      .content {
        font-style: italic;
        color: grey;
        font-size: large;
        margin-bottom: 2.2vh;
      }
      ul {
        text-align: left;
        margin-left: 3vw;
        margin-top: 2.2vh;
        li {
          margin-top: 1.1vh;
          color: grey;
        }
      }
      .aside {
        display: inline-block;
        padding: 1vh 2vw;
        background-color: #effbf9;
        color: #34b7a7;
        font-family: "Raleway", sans-serif;
        font-weight: 600;
        font-size: 16px;
        margin-bottom: 10px;
      }
    }
  }
}
.contact-me {
  margin: auto;
  width: 80vw;
  margin-top: 18vh;
  padding-top: 2vh;
  padding-left: 3vw;
  display: flex;
  flex-direction: row;
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  flex-wrap: wrap;
  a {
    width: 23vw;
    margin-bottom: 2vh;
    height: 20vh;
    margin-right: 1.8vw;
    box-shadow: 2px 2px 5px grey;
    text-align: center;
    transition: transform 0.5s ease;
    text-decoration: none;
    position: relative;
    opacity: 0;
    p {
      margin-top: 3vh;
      color: grey;
      position: static;
    }
    .contact-icon {
      font-size: 40px;
      position: static;
      margin-top: 5vh;
    }
    .instagram {
      color: rgb(230, 122, 127);
    }
  }
  :nth-child(1) {
    animation: contact-anime 1s linear 0.4s forwards;
  }
  :nth-child(2) {
    animation: contact-anime 1s linear 0.6s forwards;
  }
  :nth-child(3) {
    animation: contact-anime 1s linear 0.8s forwards;
  }
  :nth-child(4) {
    animation: contact-anime 1s linear 1s forwards;
  }
  :nth-child(5) {
    animation: contact-anime 1s linear 1.2s forwards;
  }
  :nth-child(6) {
    animation: contact-anime 1s linear 1.4s forwards;
  }
  a:hover {
    transform: scale(1.05);
  }
}
@keyframes contact-anime {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes displayer {
  from {
    opacity: 0;
    transform: translateY(10vh);
  }
  to {
    opacity: 1;
    transform: none;
  }
}

@keyframes no-play {
  to {
    opacity: 0;
    //transform: none;
  }
}

@media screen and (max-width: "943px") {
  .about-all {
    section {
      aside {
        .info {
          p {
            white-space: break-spaces;
          }
        }
      }
    }
  }
}
@media screen and (min-width: "500px") and (max-width: "625px") {
  header {
    justify-content: space-between;
    .link {
      gap: 10px;
    }
    span {
      position: relative;
      margin-left: 0;
    }
    .icon {
      right: 0vw;
      position: relative;
      width: auto;
    }
  }
}

@media screen and (max-width: "500px") {
  .domant {
    display: none;
    height: 190vh;
    background-color: black;
    z-index: 2;
    width: 100vw;
    transition: display 1s ease-in;
  }
  .home {
    main {
      top: 31%;
      h1 {
        font-size: 38px;
      }
      p {
        margin-bottom: 0vh;
        span {
          padding-left: 0vw;
          max-width: 380px;
          font-size: 14px;
          margin-right: 3px;
        }
      }
    }
  }
  header {
    overflow: visible;
    .link {
      padding-left: 3vw;
      position: absolute;
      top: 8vh;
      left: 5vw;
      width: 90vw;
      height: 85vh;
      z-index: 3;
      gap: 5px;
      margin-left: 0;
      background-color: white;
      border-radius: 4vw;
      justify-content: flex-start;
      flex-direction: column;
      transition: display 0.8s ease-in;
      .homer {
        animation: pop 0.4s linear 0s forwards;
      }
      .about {
        animation: pop 0.4s ease-in 0.1s forwards;
      }
      .resume {
        animation: pop 0.4s ease-in 0.2s forwards;
      }
      .portfolio {
        animation: pop 0.4s ease-in 0.3s forwards;
      }
      .contact {
        animation: pop 0.4s ease-in 0.4s forwards;
      }
      .to-link {
        display: inline-block;
        width: 7vw;
        margin-bottom: 3vh;
      }
      .clear {
        display: inline-block;
        color: white;
        position: relative;
        bottom: 7vh;
        font-size: x-large;
        left: 77vw;
        z-index: 5;
      }
    }
    .icon {
      position: absolute;
      right: 13vw;
      width: 25vw;
      animation: pop 1s linear 0.8s forwards;
    }
    .none {
      display: inline-block;
      position: absolute;
      margin-top: 1vh;
      right: 3vw;
      opacity: 0;
      animation: pop 1s linear 1s forwards;
    }
  }
  .home {
    background-size: co;
    main {
      .about-me {
        top: 4vh;
        padding: 1.5vh 3vw;
        border-radius: 6vw;
      }
    }
  }
  .about-all {
    .span {
      font-size: 20px;
    }
    section {
      flex-direction: column;
      img {
        width: 85vw;
        object-fit: cover;
        height: 70vh;
      }
      aside {
        margin-left: 7vw;
        margin-top: 3vh;
        width: 85vw;
        h2 {
          font-size: 26px;
          white-space: nowrap;
        }
        .info {
          flex-direction: column;
          p {
            white-space: nowrap;
          }
        }
        .rigor {
          margin-top: 2vh;
        }
      }
    }
  }
  .mini {
    meter {
      height: 1.5vh;
    }
    section {
      flex-direction: column;
      padding-bottom: 2vh;
      div {
        width: 80vw;
      }
    }
  }
  .contact-me {
    a {
      height: 16vh;
      .contact-icon {
        margin-top: 3vh;
      }
      p {
        margin-top: 1.7vh;
      }
    }
  }
  .resumex {
    padding: 0 3vw;
    main {
      flex-direction: column;
      section {
        width: 90vw;
        padding-left: 8vw;
        .circle {
          top: 0vh;
          left: -1vw;
        }
        .icon {
          transform: rotate(90deg) scaleX(16);
          left: -1vw;
        }
      }
      .one {
        order: 1;
      }
      .two {
        order: 2;
      }
      .four {
        order: 3;
      }
      .three {
        order: 4;
        section {
          .icon {
            top: 76.6vh;
            transform: rotate(90deg) scaleX(73.5);
          }
        }
      }
    }
  }
}
